.sidebar {
    width: 250px;
    height: 100vh;
    background-color:whitesmoke;
    transition: width 0.3s ease;
  }
  
 


  .open{
    width: 15%;
  }

  .closed{
    width: 5%;
  }

  .buttons-container{
    display: flex;
    flex-direction: column;
    
    align-items: center;
  }


  .main-icon{
    margin-top: 30px;
    margin-bottom: 70px;
  }

  .navicon{
    margin-bottom: 35px;
  }

  .navicon:hover{
    color: green;
  
  }

  .settings-icons{
    margin-top:80px;
    float: bottom;
  }

  .settings-icons:hover{
    color: green;
  }

  .toggle-icon{
    background-color:none;
    border: none;
    
    
   
    float: right;
    
  }